<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
			
		</head>
		<body>
		
			
			
			<div class="container">
			
				<div class="row">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li><a href="/">Home</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/cv">CV</a></li>
									<li><a href="/blog">Blog</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				
				<div class="row">
					{{ content }}
				</div>
				
				<div class="row">
					<footer>
						<ul>
							<li><a href="sky_ppy@163.com">email</a></li>
							<li><a href="https://github.com/ppydao">github.com/ppydao</a></li>
						</ul>
					</footer>
				</div>
			
			</div><!-- /.container -->
			
			
			<script src="/js/jquery-1.11.3.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
		</body>
	</html>
